body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
#playing-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: aquamarine;
  padding: 50px;
  min-height: 100%;
  margin: 10px;
}
.card {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease;
}
.card:hover {
  transform: scale(1.1);
}
.left {
  align-self: flex-start;
  font-size: 35px;
}
.middle {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-size: 70px;
}
.right {
  align-self: flex-end;
  font-size: 35px;
}
.third, .fifth {
  color: red;
}
.invert {
  transform: rotate(180deg);
}
.five {
  align-self: center;
}
.first:hover {
   background-color: blue;
   color: white;
}
.second:hover {
  background-color: blueviolet;
  color: white;
}
.third:hover {
  background-color: chocolate;
  color: white;
}
.fourth:hover {
  background-color: darkgreen;
  color: white;
}
.fifth:hover {
  background-color: black;
  color: white;
}

 @media (min-width: 641px) and (max-width: 1023px), (orientation: landscape) {
  #playing-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: aquamarine;
  padding: 50px;
  min-height: 100%;
  margin: 10px;
}
}

@media (min-width: 1024px) {
  #playing-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: aquamarine;
  padding: 50px;
  min-height: 100%;
  margin: 10px;
} 
}
